<label class="hoverable" for="fileInput">
    <img *ngIf="!photo || photo === ''" src="../../../assets/default.png" class="circle-wrapper">
    <img *ngIf="photo && photo !== ''" src="{{photo}}" class="circle-wrapper">
    <div class="hover-text">Choisir une nouvelle photo</div>
    <div class="background"></div>
</label>
<br/>
<input id="fileInput" type='file'  (change)="onFileUpload($event.target.files)">
<div class="general-info-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <mat-card-title>Profile</mat-card-title>
        <button mat-stroked-button class="edit-button" [disabled]="isEditing" (click)="enableEditing()">
            <mat-icon>edit</mat-icon>
        </button>
      </mat-card-header>
  
      <form class="form" [formGroup]="userFormHandler.form">
  
        <mat-card-content>            
  
          <mat-form-field class="full-width">
            <mat-label>Choisir le type de compte</mat-label>
            <mat-select formControlName="accountType" (selectionChange)="onSelectionChange($event.value)"  required>
              <mat-option [value]="account" *ngFor="let account of accounts">{{account}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="isEditing && userFormHandler.isFieldInvalid('accountType')">
            <small class="error-text">
                Le type de compte doit être sélectionné
            </small>
          </div>

          <div *ngIf="!(userFormHandler.form.get('accountType')!.value===accounts[0])">
            <mat-form-field class="full-width">
              <input matInput formControlName="teamName" placeholder="Nom d'équipe" required>
            </mat-form-field>
            <div *ngIf="isEditing && userFormHandler.isFieldInvalid('teamName')">
              <small class="error-text">
                  Indiquer un nom d'équipe
              </small>
            </div>
          </div>

          <div *ngIf="userFormHandler.form.get('accountType')!.value===accounts[0]">
            <mat-form-field class="full-width">
              <input matInput formControlName="firstName" placeholder="Prénom" required>
            </mat-form-field>
            <div *ngIf="isEditing && userFormHandler.isFieldInvalid('firstName')">
              <small class="error-text">
                  Indiquer votre prénom
              </small>
            </div>

            <mat-form-field class="full-width">
              <input matInput formControlName="lastName" placeholder="Nom" required>
            </mat-form-field>
            <div *ngIf="isEditing && userFormHandler.isFieldInvalid('lastName')">
              <small class="error-text">
                  Indiquer votre nom
              </small>
            </div>
          </div>

          <mat-form-field class="full-width">
            <input matInput formControlName="username" placeholder="Nom d'utilisateur" required >
          </mat-form-field>
          <div *ngIf="isEditing && userFormHandler.isFieldInvalid('username')">
            <small *ngIf="userFormHandler.form.get('username')!.errors!.required" class="error-text">
                Indiquer un nom d'utilisateur
            </small>
            <small *ngIf="userFormHandler.isLengthInvalid('username')" class="error-text">
              Un nom d'utilisateur doit avoir entre 3 et 15 caractères 
            </small>
          </div>
          <div *ngIf="isEditing && (userFormHandler.isExistingUsername | async)" class="error-text">
            <small>
              Ce nom d'utilisateur n'est pas disponible 
            </small>
          </div>
  
          <mat-form-field class="full-width">
            <input matInput formControlName="password" placeholder="Mot de passe" [type]="userFormHandler.hidePassword ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="userFormHandler.hidePassword = !userFormHandler.hidePassword">{{userFormHandler.hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <div *ngIf="isEditing && userFormHandler.isFieldInvalid('password')">
            <small *ngIf="userFormHandler.form.get('password')!.errors!.required" class="error-text">
                Indiquer un mot de passe
            </small>
            <small *ngIf="userFormHandler.isLengthInvalid('password')" class="error-text">
                Un mot de passe doit avoir entre 6 et 30 caractères
            </small>
          </div>

          <mat-form-field *ngIf="isEditing" class="full-width">
            <input matInput formControlName="confirmPassword" placeholder="Confirmer mot de passe" type="password" required>
          </mat-form-field>
          <div *ngIf="isEditing && userFormHandler.isFieldInvalid('confirmPassword')">
            <small *ngIf="userFormHandler.form.get('confirmPassword')!.errors!.required" class="error-text">
                Indiquer un mot de passe
            </small>
            <small *ngIf="userFormHandler.isLengthInvalid('confirmPassword')" class="error-text">
                Un mot de passe doit avoir entre 6 et 30 caractères
            </small>
          </div>
          <div *ngIf="(userFormHandler.form.get('confirmPassword')!.touched || userFormHandler.form.get('confirmPassword')!.dirty) && !userFormHandler.isPasswordConfirmed()">
            <small class="error-text">
                Le mot de passe n'est pas celui entré précédemment
            </small>
          </div>

          <mat-form-field class="full-width">
            <input matInput formControlName="email" placeholder="Courriel" required>
          </mat-form-field>
          <div *ngIf="isEditing && userFormHandler.isFieldInvalid('email')">
            <small class="error-text">
                Indiquer un courriel
            </small>
          </div>

          <mat-form-field class="full-width">
            <input matInput formControlName="facebook" placeholder="Nom Facebook">
          </mat-form-field>
        </mat-card-content>
      </form>
    </mat-card>
</div>

<div class="courses-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Cours associés</mat-card-title>
      </mat-card-header>
  
      <form class="form" [formGroup]="userFormHandler.form">
  
        <mat-card-content>            
          
          <div formArrayName="courses" class="courses">
              <div *ngFor="let item of userFormHandler.courses.controls; let courseIndex=index" [formGroupName]="courseIndex">
                <mat-form-field class="full-width">
                  <mat-label>Choisir le sigle du cours</mat-label>
                  <mat-select formControlName="acronym" required>
                    <mat-option [value]="acronym" *ngFor="let acronym of userFormHandler.acronyms">{{acronym}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="userFormHandler.isFieldInvalid('courses', 'acronym', courseIndex)">
                  <small class="error-text">
                      Indiquer l'identifiant du cours
                  </small>
                </div>

                <mat-form-field class="full-width">
                    <input matInput formControlName="experiences" placeholder="Experiences en rapport au cours">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput formControlName="goals" placeholder="Objectifs d'apprentissage" required>
                </mat-form-field>
                <div *ngIf="userFormHandler.isFieldInvalid('courses', 'goals', courseIndex)">
                  <small class="error-text">
                      Indiquer vos objectifs d'apprentissage
                  </small>
                </div>

                <mat-form-field class="full-width">
                    <input matInput formControlName="grade" placeholder="Note espérée">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput formControlName="availabilities" placeholder="Disponibilités pour travailler sur ce cours">
                </mat-form-field>

                <button mat-mini-fab [disabled]="!isEditing || courseIndex==0" (click)="userFormHandler.deleteCourse(courseIndex)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div *ngIf="isEditing" class="addCourseButton">
                <button mat-mini-fab color="accent"(click)="userFormHandler.addCourse()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
          </div>
        </mat-card-content>

        <div *ngIf="userFormHandler.isPending">
          <mat-spinner class="spinner"></mat-spinner>
        </div>
        <div mat-dialog-actions align="end">
            <button *ngIf="isEditing && !userFormHandler.isPending" mat-raised-button color="secondary" class="btn-block" (click)="onCancel()">Annuler</button>
            <button *ngIf="isEditing && !userFormHandler.isPending" mat-raised-button color="primary" class="btn-block" (click)="onSubmit()" [disabled]="userFormHandler.isFormInvalid() || (userFormHandler.isExistingUsername | async)">Mettre à jour</button>
            <div *ngIf="userFormHandler.retryRequest" class="error-text">
              Une erreur est survenue lors de la mise à jour des informations, vérifier et réessayer!
            </div>
        </div>
      </form>
    </mat-card>
</div>